<header class="fades">
  <h1 class="header">game_center.hbs layout</h1>
</header>


{{{body}}}

<script src="/socket.io/socket.io.js"></script>
<script>

  (async () => {
    {{!-- /* calling in the username that was passed in view_routes */ --}}
    const username = "{{username}}";
    const userColor = "0xF78DA7";

    let query = {
      username: username,
      userColor:
    }

    {{!-- /* maybe let user pick their or theme? */ --}}
    var socket = io('/lobby', { query: {username: username} }); 

    {{!-- /* maybe define socket on main and have autoConnect set to false? onClick 'dashboard' start socket? */ --}}
    {{!-- /* const socket = io('/lobby', { autoConnect: false, query: `userColor=${userColor}` }); */ --}}



    // const myCookie = await cookieStore.get('connect.sid');
    // console.log(`MY COOKIE STORE----> ${cookieStore.get('connect')}`);
    socket.emit('cookie time', username);

  })();



</script>