<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jegs and Pokers GAME CENTER HANDLE</title>
  <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="front/css/style.css">
</head>



<header class="fades">
  <h1 class="header">game_center.hbs layout</h1>
</header>
<div id="current-games">

</div>


{{{body}}}

<script src="/socket.io/socket.io.js"></script>
<script>


  /* calling in the username that was passed in view_routes */
  const username = "{{username}}";
  const userColor = "0xF78DA7";
  /* maybe let user pick their or theme?  NTH VERYLOW PRIORITY */

  /* setting query to pass to the socket */
  let query = {
    username: username,
    userColor: userColor
  }

  /* joining the lobby room && carrying over the username & color */
  var socket = io('/lobby', { query: query });


  socket.on('current games', (gameList) => {
    var currentGames = document.getElementById('current-games');

    gameList.forEach(game => {

      let gameDiv = document.createElement('div');
      let playerCount = document.createElement('h2');
      playerCount.innerText = game.players;
      let gameStatus = game.gameStatus;

      gameDiv.appendChild(playerCount);
      gameDiv.appendChild(gameStatus);
      currentGames.appendChild(gameDiv);

    });

  });

  //socket.on('errors', (error) => {
    /* append the errors somewhere!! TOAST??!?!?!?! */

    socket.on('redirect', (url) => {
      window.location.href = url;
    });

    // const myCookie = await cookieStore.get('connect.sid');
    // console.log(`MY COOKIE STORE----> ${cookieStore.get('connect')}`);
    socket.emit('cookie time', username);


    const createGameSocket = async () => {
      let name = 'veryCoolTestGameName';
      socket.emit('createGame', name);
      console.log('CreateGame called!');
    }
    const joinGameSocket = async () => {
      let name = 'lessCoolTestGameName';
      socket.emit('joinGame', name);
      console.log('JoinGame called!');
    }
    createGameButtonEl = document.getElementById('createGame');
    joinGameButtonEl = document.getElementById('joinGame');
    createGameButtonEl.addEventListener('click', createGameSocket);
    joinGameButtonEl.addEventListener('click', joinGameSocket);
</script>