<header class="fades">
    <h1 class="header">Jegs and Pokers</h1>
</header>

<section class="form_pages">
    <h2>The Lobby</h2>

    <div class="choices">
      <div class="button-prompt">
        <h3>Welcome {{host.username}}!</h3>
        <p>We are waiting for some additional players</p>
        <p>You need 4 players in order to play the game</p>
        <p>Assemble your team!</p>
      </div>
    </div>

    <div class="players_ready"></div>
        <ul>
            {{#each players}}
            <li class="member_player">{{this}}</li>
            {{/each}}
        </ul>
        <button class="button">Start</button>
    </div>

</section>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io('/lobby');
</script>
