<header class="fades">
    <h1 class="header">dashboard hbs view</h1>
</header>

<section class="form_pages">
    <h2>The Foyer</h2>
    <div class="choices">
       
        <a href="/create" class="button" title="Create">Create Game</a>
        <a href="/join" class="button" title="Join">Join Game</a>
    </div>
    {{!-- <p>{{}} people waiting to play.</p> --}}
</section>

<script>
  
</script>

