<header class="fades">
    <h1 class="header">dashboard hbs view</h1>
</header>

<section class="form_pages">
    <h2>The Foyer</h2>
    <div class="choices">
        <button onclick="createGame()" class="button">Create Game</button>
        {{!-- <a id="queryGame" class="button" title="Create">QUERY Game</a> --}}
        <button onclick="joinGame()" class="button">Join Game</button>

        <input type="text" id="roomCode" placeholder="room ID" /><br>
    </div>
    {{!-- <p>{{}} people waiting to play.</p> --}}
</section>