{{#if userAcc}}
<header class="fades">
    <h1 class="header">Jegs and Pokers</h1>
</header>
<main id="main">
    <div class="choices">
        <div class="button-prompt">
            <p>I remember you, {{userAcc.username}}!</p>
            <p>No need to see Lou!</p>
            <p>Head on into the lobby!</p>
        </div> 
        <a href="/dashboard" class="button" title="Lobby">Enter</a>
    </div>
    <div class="choices">
        <div class="button-prompt">
            <p>Leaving so soon, {{userAcc.username}}?</p>
            <p>Be sure to come back!</p>
        </div>
        <a href="/logout" class="button" title="Logout">Egress</a>
    </div>
</main>
{{else}}
<div id="opening">
    <p id="tease">WOULD YOU LIKE TO PLAY A GAME?</p>
    <h1 id="splash_header">Jegs and Pokers</h1>

    <main id="main">
        <div class="choices">
            <div class="button-prompt">
                <p>Already a club member?</p>
                <p>You look a bit familiar, but I don't remember for sure</p>
                <p>Go check in with Lou, the Bouncer!</p>
            </div>
            <a href="/login" class="button" title="Login">Bouncer</a>
        </div>
        <div class="choices">
            <div class="button-prompt">
                <p>New here?</p>
                <p>Go see Hank to sign up!</p>
            </div>
            <a href="/register" class="button" title="Register">Hank</a>
        </div>
    </main>
</div>
{{/if}}
