<h1>Jegs and Pokers</h1>

<h2>Welcome {{host.username}}</h2>


<h3>{{host.username}}</h3>
<ul>
    <p class="member_player">{{player.username}}</p>
</ul>

<button onclick="startGame()" class="button">PRESS START</button>




<p>We are waiting for some additional players</p>
<p>You need 4 players in order to play the game</p>

<p>Please enjoy the complimentary entertainment while you wait.</p>



