<h1 class="header">Jegs and Pokers</h1>

<form action="/auth/register" method="post">
    <input type="email" name="email" placeholder="Whither electronic correspondence?">
    <input type="password" name="password" placeholder="What'll be your secret word?">
    <button class="button">Submit</button>
</form>
