<h1>Jegs and Pokers</h1>


<h2>The Bouncer</h2>

<p class="lou">Yer a club member? My memory ain't so good; you'll have to show me your credentials!</p>
<form action="/auth/register" method="post">
    <input type="email" name="email" placeholder="Whither electronic correspondence?">
    <input type="password" name="password" placeholder="What's the secret word?">
    <button class="button">Sign In</button>
</form>

{{#if error}}
<div class="lou">
  <p>Hey! Ya ain't a club member! Go see Hank or I'll thump ya!</p>
  <a href="./register.hbs" class="button" title="Register">I'll go see Hank</a>
  <a href="https://google.com" class="button" title="Leave">Do you know who I am? Try n' thump me!</a>
</div>
{{/if}}


