<header class="fades">
  <h1 class="header">Jegs and Pokers</h1>
</header>

<section class="form_pages">
  <h2>The Bouncer</h2>

  <div class="your-options">
    <div class="choices">
      <div class="button-prompt">
        <p>Yer a club member?</p>
        <p>My memory ain't so good</p>
        <p>You'll have to show me your credentials!</p>
      </div>
      <form action="/auth/register" method="post" class="register">
        <input class="u-input" type="text" name="username" placeholder="What do we call you?"><br>
        <input class="u-input" type="password" name="password" placeholder="What's the secret word?"><br>
        <button class="button">Sign In</button>
      </form>
    </div>

    <div class="choices">
      <div class="button-prompt">
        <p>Hey! Ya ain't a club member!</p>
        <p>Go see Hank or I'll thump ya!</p>
      </div>
      <a href="/register" class="button" title="Register">I'll go see Hank</a>
      <a href="https://google.com" class="button" title="Leave">Try n' thump me!</a>
    </div>
  </div>
</section>
<<<<<<< HEAD
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io('/lobby');
</script>
=======

{{!-- <button onclick="window.location.href='/register';">Register</button> --}}
>>>>>>> ac292b1c82ed6bee1d53724758e2a87538ae9007
