<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>




    <h1 class="header">Jegs and Pokers</h1>

    <button class="joinG">Join Game</button>

    <button class="createNG">Create New Game</button>



    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();


        form.addEventListener('submit', function (e) {
            e.preventDefault();
            if (input.value) {
                socket.emit('create game', true);
            }
        });



    </script>



</body>

</html>