<h1>Jegs and Pokers: Sign In</h1>

{{#if errors}}
  <div class="errors">
    {{#each errors}}
      <p class="error">{{this}}</p>
    {{/each}}
  </div>
{{/if}}


<p class="lou">Yer a club member? My memory ain't so good; you'll have to show me your credentials!</p>
<form action="/auth/register" method="post">
    <input type="email" name="email" placeholder="Whither electronic correspondence?">
    <input type="password" name="password" placeholder="What's the secret word?">
    <button class="button">Sign In</button>
</form>

<p>No account?</p>
<button href="/register">Register!</button>

